<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf.org"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
  </head>
  <body>
    <div class="container-fluid" layout:fragment="content">
      <h4>MyBatis APP</h4>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>名前</th>
            <th>E-Mail</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="teacher: ${page}" th:object="${teacher}">
            <td th:text="*{id}"></td>
            <td th:text="*{userName}"></td>
            <td th:text="*{email}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
